#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #E47006;
    border: none;
}

.btn-success:hover {
    background-color: #A85507;
}

.badge-success {
    background-color: #E47006;
}

.text-brown {
    color: #E47006;
}