#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #E47006;
    border: none;
}

.btn-success:hover {
    background-color: #A85507;
}

.badge-success {
    background-color: #E47006;
}

h2 {
    line-height: 1.6;
}

.text-brown {
    color: #E47006;
}

.card-border {
    border-radius: 15px;
}

.card-img-top {
    border-radius: 15px 15px 0px 0px;
}

.footer-bg {
    background-color: #E47006;;
}